# Visual Studio
.vs/
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/

# Rider
.idea/
*.sln.iml

# User-specific
*.DotSettings.user

# Mac
.DS_Store

# Executables
*.exe
*.dll
*.pdb
*.pfx
*.cer

# Installer files
install/

# Logs
*.log

# images
*.png

gpu_checked.flag